<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="{% block htmlClass %}{% endblock %}">
    <head>
        <meta charset="utf-8">
        <title>{{ bigfoot_theme.title|default('Bigfoot')|trans }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="{{ bigfoot_theme.provided_by|default('provided by C2iS - Agence digitale')|trans }}">

        {% block stylesheets %}
            {% stylesheets
                '@admin_css'
                output='css/bigfoot.css'
                filter='cssrewrite'
                debug=false
                combine=true
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>

    <body class="{% block bodyClass %}{% endblock bodyClass %}">
        {% block body %}
        {% endblock %}

        {% block modals %}
            <div id="ajax-modal" class="modal container fade" tabindex="-1" style="display: none;"></div>
        {% endblock modals %}

        <script type="text/javascript">
            var
                defaultPortfolioRoute = "{{ path('portfolio_dashboard') }}",
                currentLocale         = "{{ app.request.locale }}",
                basePath              = "{{ app.request.basePath }}",
                tagsPath              = "{{ path('admin_tag_get') }}",
                defaultLocale         = currentLocale,
                locales               = ["{{ bigfoot_locale_flags() | join('","') | raw }}"];
        </script>

        {% block javascripts %}
            {% javascripts
                '@admin_jquery'
                '@admin_js'
                output='js/bigfoot.js'
                debug=false
                combine=true
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% javascripts
                "@admin_twig_js"
                filter="twig_js"
                output='js/bigfoot_twig.js'
                debug=false
                combine=true
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% endblock %}
    </body>
</html>
