<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="{% block htmlClass %}{% endblock %}">
    <head>
        <meta charset="utf-8">
        <title>{{ bigfoot_theme.title|default('Bigfoot')|trans }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="{{ bigfoot_theme.provided_by|default('provided by C2iS - Agence digitale')|trans }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/bigfootdefaulttheme/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/bigfootdefaulttheme/css/chosen.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/bigfootdefaulttheme/css/custom.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/bigfootdefaulttheme/css/ui-lightness/jquery-ui-1.10.4.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/bigfootdefaulttheme/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/bigfootdefaulttheme/css/bootstrap-modal-bs3patch.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/bigfootdefaulttheme/css/bootstrap-modal.css') }}" />
        {% endblock %}
    </head>

    <body class="{% block bodyClass %}{% endblock bodyClass %}">
        {% block body %}
        {% endblock %}

        {% block modals %}
            <div id="ajax-modal" class="modal container fade" tabindex="-1" style="display: none;"></div>
        {% endblock modals %}

        <script type="text/javascript">
            var
                defaultPortfolioRoute = "{{ path('portfolio_dashboard') }}",
                currentLocale         = "{{ app.request.locale }}",
                basePath              = "{{ app.request.basePath }}",
                tagsPath              = "{{ path('admin_tag_get') }}",
                defaultLocale         = currentLocale,
                locales               = ["{{ localeFlags() | join('","') | raw }}"];
        </script>

        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/jquery-1.10.2.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/jquery-ui-1.10.4.min.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/jquery.form.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/jquery.portfolio.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/nestable.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/chosen.jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/bootstrap-modalmanager.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/bootstrap-modal.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/modal.js') }}"></script>
            <script src="{{ asset('bundles/bigfootdefaulttheme/js/custom.js') }}"></script>
            <script src="{{ asset('bundles/bigfootnavigation/js/link.js') }}"></script>
            <script src="{{ asset('bundles/bigfootcore/js/twig.js') }}"></script>
        {% endblock %}

        {% javascripts
            "@BigfootCoreBundle/Resources/views/translation/locale_tabs.html.twig"
            filter="twig_js"
            output='compiled/admin/js/twigs.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
