{% extends bigfoot_theme_bundle ~ '::base.html.twig' %}

{% block bodyClass %}login-layout{% endblock bodyClass %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand" href="#">
                    <img src="{{ asset("bundles/bigfootdefaulttheme/images/common/logo-c2is.png") }}" alt="C2iS" height="20px">
                    <small>
                        {{ 'bigfoot.default_theme.home.title'|trans }}
                    </small>
                </span>
            </div>

            {%- if bigfoot_version|default(false) -%}
                <p class="navbar-text navbar-right pull-right">
                    <small>{{ 'bigfoot.default_theme.version'|trans({'%version%': bigfoot_version}) }}</small>
                </p>
            {%- endif -%}
            {%- if bigfoot_theme.assistance_link|default(false) -%}
                <p class="navbar-text navbar-right pull-right">
                    <a href="{{ bigfoot_theme.assistance_link }}" target="_blank">
                        <small>{{ 'bigfoot.default_theme.assistance.link.label'|trans }}</small>
                    </a>
                </p>
            {%- endif -%}
        </div>
    </nav>

    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <img src="{{ asset("bundles/bigfootdefaulttheme/images/common/logo-bigfoot.png") }}" alt="{{ 'Bigfoot'|trans }}">
                            </h1>
                        </div>

                        <div class="position-relative">
                            {% block form %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footerbar-container" class="footerbar-container">
        <a href="http://www.c2is.fr/" target="_blank">Réalisé par C2iS</a> - <a href="http://symfony.com/" target="_blank">Propulsé par Symfony</a>
    </div>
{% endblock %}
