{% block _admin_page_template_title_desc_img_block2_blocks2_widget block('blocks2_widget') %}
{% block _admin_page_template_title_desc2_block2_blocks2_widget block('blocks2_widget') %}
{% block _admin_page_template_title_desc2_img_block2_blocks2_widget block('blocks2_widget') %}

{% block admin_page_block_row %}
    {% spaceless %}
        <li class="block-row">
            <div class="pull-right">
                <a href="#" class="admin-delete-page-block"><i class="icon-remove red bigger-130"></i></a>
            </div>

            {{ form_row(form.block, { 'attr': { 'class': 'admin_block_select' }}) }}

            <div class="clear"></div>

            {{ form_row(form.position) }}

            <div class="form-group">
                {{ form_label(form.template, 'Template') }}

                <fieldset>
                    {% for template in form.template %}
                        <label style="text-align:center;">
                            {{ form_widget(template) }}
                            {%- set templateFileName = template.vars.value %}
                            {%- if '/' in templateFileName %}
                                {%- set templateFileName = template.vars.value|split('/')|slice(1)|join('/') %}
                            {%- endif %}
                            <img src="{{ asset('images/template/block/' ~ templateFileName ~ '.svg') }}" width="80" height="80"><br />
                            <span style="font-size:9px;">{{ template.vars.label }}</span>
                        </label>
                    {% endfor %}
                </fieldset>
            </div>

            <hr />
        </li>
    {% endspaceless %}
{% endblock admin_page_block_row %}

{% block radio_widget %}
    {% spaceless %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock radio_widget %}