<p>
    {% if icon is defined %}
    <strong>
        <i class="icon-{{ icon }}"></i>
    </strong>
    {% endif %}
    {% if heading is defined %}
    <strong>
        {{ heading|trans(transParams)|raw }}
    </strong>
    {% endif %}
    {% if message is defined %}
        {{ message|trans(transParams)|raw }}
    {% endif %}
</p>
{% if actions is defined and actions|length %}
<p>
    {% for action in actions %}
        {% if action %}
            <a href="{{ action.route }}" class="btn btn-sm btn-{{ action.type }}">{{ action.label|trans(transParams) }}</a>
        {% endif %}
    {% endfor %}
</p>
{% endif %}
