{% extends bigfoot_theme_bundle ~ '::layout_home.html.twig' %}

{% block form %}
    <div id="login-box" class="login-box widget-box no-border switchs-container">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    <img src="{{ asset("bundles/bigfootdefaulttheme/images/common/logo-c2is.png") }}" alt="C2iS">
                </h4>

                <div class="col-lg-4"></div>

                <div class="col-lg-4">
                    <form action="{{ path('admin_login_check') }}" method="post">
                        <fieldset>
                            {% if error %}
                                <div>{{ error.message }}</div>
                            {% endif %}

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <input type="text" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ 'Username'|trans }}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    <input type="password" name="_password" class="form-control" placeholder="{{ 'Password'|trans }}" />
                                </div>
                            </div>

                            <div class="inline" for="remember_me">
                                <input class="ace" type="checkbox" id="remember_me" name="_remember_me" checked />
                                <span class="lbl"> {{ 'Remember Me'|trans }}</span>
                            </div>

                            <div class="toolbar clearfix">
                                <a href="#" class="switchs" data-switchs-target="#forgot-box">
                                    <i class="icon-arrow-left"></i>
                                    {{ 'I forgot my password'|trans }}
                                </a>
                            </div>

                            <div class="clearfix">
                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                    <i class="icon-key"></i>
                                    {{ 'Login'|trans }}
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>

    {{ render(controller('BigfootUserBundle:Security:forgotPassword')) }}
{% endblock %}
