{% extends bigfoot_theme_bundle ~ '::layout_home.html.twig' %}

{% block form %}
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    <img src="{{ asset("bundles/bigfootdefaulttheme/images/common/logo-c2is.png") }}" alt="C2iS">
                </h4>

                <div class="col-lg-4"></div>

                <div class="col-lg-4">
                    <form action="{{ path('admin_login_check') }}" method="post">
                        <fieldset>
                            {% if error %}
                                <div>{{ error.message }}</div>
                            {% endif %}

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <input type="text" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ 'Username'|trans }}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    <input type="password" name="_password" class="form-control" placeholder="{{ 'Password'|trans }}" />
                                </div>
                            </div>

                            <div class="inline" for="remember_me">
                                <input class="ace" type="checkbox" id="remember_me" name="_remember_me" checked />
                                <span class="lbl"> {{ 'Remember Me'|trans }}</span>
                            </div>

                            <div class="toolbar clearfix hidden">
                                <a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
                                    <i class="icon-arrow-left"></i>
                                    {{ 'I forgot my password'|trans }}
                                </a>
                            </div>

                            <div class="clearfix">
                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                    <i class="icon-key"></i>
                                    {{ 'Login'|trans }}
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>

    {{ render(controller('BigfootUserBundle:Security:forgotPassword')) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('body').on('click', '.f-password', function (event) {
            event.preventDefault();

            $.ajax({
                url:  $(this).closest('form').attr('action'),
                type: 'post',
                data: $('#admin_forgot_password_email')
            }).done(function (data) {
                        var message = data.message;

                        if (data.status === true) {
                            message = '<font color="green">' + message + '</font>';
                        } else {
                            message = '<font color="red">' + message + '</font>';
                        }

                        $('.f-p-message')
                                .html('')
                                .append(message);
                    });
        });
    </script>
{% endblock javascripts %}
