{% extends bigfoot_theme_bundle ~ '::layout_blank.html.twig' %}

{% block content %}
    <form action="{{ form_action }}" method="{{ form_method }}" class="form-horizontal" {{ form_enctype(form) }}>
        <div class="row">
            {% block form %}
                {{ form_rest(form) }}
            {% endblock %}
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}