<div class="col-xs-12 col-sm-{{ widget.width }} widget-container-span ui-sortable">
    <div class="widget-box transparent">
        <div class="widget-header">
            <hgroup>
                <h5 class="smaller">
                    {{ widget.title }}
                    <small>
                        <i class="icon-double-angle-right"></i>
                        Description du titre
                    </small>
                </h5>
            </hgroup>
            {% if widget.tabs is defined %}
            <div class="widget-toolbar no-border">
                <ul id="myTab" class="nav nav-tabs">
                    {% for tabKey, tab in  widget.tabs %}
                    <li{% if loop.first %} class="active"{% endif %}>
                        <a href="#widget_{{ widget.id }}_{{ tabKey }}" data-toggle="tab">{{ tab.title| trans }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="widget-body">
            <div class="widget-main padding-6">
                {% if widget.tabs is defined %}
                <div class="tab-content">
                    {{ widget.renderContent | raw }}
                </div>
                {% else %}
                    {{ widget.renderContent | raw }}
                {% endif %}
            </div>
        </div>
    </div>
</div>